[submodule "kernel"]
	path = kernel
	url = https://github.com/PeronGH/android_kernel_oneplus_sdm845
	branch = lineage-23.2-4.19
	shallow = true
[submodule "clang"]
	path = clang
	url = https://github.com/LineageOS/android_prebuilts_clang_kernel_linux-x86_clang-r416183b
	branch = lineage-20.0
	shallow = true
[submodule "gcc64"]
	path = gcc64
	url = https://github.com/LineageOS/android_prebuilts_gcc_linux-x86_aarch64_aarch64-linux-android-4.9
	branch = lineage-19.1
	shallow = true
[submodule "gcc32"]
	path = gcc32
	url = https://github.com/LineageOS/android_prebuilts_gcc_linux-x86_arm_arm-linux-androideabi-4.9
	branch = lineage-19.1
	shallow = true
